@import './variable.css';

.logo img{
    height: 70px;
    width: 70px;
    background-color: var(--secondary-color);
    border-radius: 40% 50% 30% 80%;
    margin-right: 10px;
}
.logo img, .logo h1{
    display: inline;
}
img.headerbg{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}
.sec1{
    padding: 120px 100px 40px 100px;
}
.sec1 h2{
    font-size: 2.8em;
    margin-bottom: 50px;
}
.sec1 form{
    height: 90px;
}
.sec1 form input{
    background-color: white;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 50px;
    padding-right: 10px;
    width: 33%;
    height: 52px;
    font-size: 16px;
}
.sec1 form input[type="date"]{
    width: calc(33% - 61px);
}
.sec1 form .fa{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 20px;
    position: absolute;
}
.sec1 form button{
    background-color: var(--secondary-color);
    border: none;
    width: 60px;
    vertical-align: bottom;
    padding: 12px;
}
.sec1 form button:hover{
    background-color: var(--primary-color);
    color: white;
}
.sec1 form button .fa{
    margin-left: 0;
    margin-top: 0;
    font-size: 28px;
    position: unset;
}
.sec1 .specialties-head p{
    font-weight: bold;
    margin: 40px 0 30px 0;
    font-size: 1.1em;
}
.sec1 .specialties{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.sec1 .specialties .specialti{
    text-align: center;
}
.sec1 .specialties .specialti a{
    color: var(--primary-color);
}
.sec1 .specialties .specialti a:hover{
    text-decoration: underline;
}
.sec1 .specialties .specialti img{
    border-radius: 50%;
    margin-top: 20px;
    transition: 0.5s;
}
.sec1 .specialties .specialti img:hover{
    transform: scale(1.1);
}
.sec1 .specialties .specialti p{
    margin-top: 20px;
}
.sec2{
    margin-top: 50px;
    background-color: var(--tertiary-color);
    padding: 20px 100px;
    height: 700px;
}
.sec2 img.app{
    float: left;
    height: 95%;
    margin-top: 53.5px;
    margin-left: 20px;
    margin-right: 200px;
}
.sec2-right{
    float: left;
}
.sec2 h1{
    font-size: 3.2em;
    margin-top: 120px;
    margin-bottom: 50px; 
}
.sec2 ul{
    margin-left: 20px;
    font-size: 1.2em;
    line-height: 1.8em;
    margin-bottom: 30px;
}
.sec2 input{
    margin-top: 10px;
    background-color: white;
    border: none;
    padding: 15px;
    width: 270px;
    font-size: 16px;
}
.sec2 button{
    border: none;
    font-weight: bold;
    padding: 15px;
    background-color: var(--secondary-color);
    font-size: 16px;
}
.sec2 button:hover{
    background-color: var(--primary-color);
    color: white;
}
.sec2 img.downa{
    vertical-align: top;
    margin-top: 39px;
    width: 150px;
}
.sec2 img.downb{
    margin-top: 8px;
    width: 120px;
}
.sec3{
    margin-top: 50px;
    padding: 20px 100px;
    height: 600px;
}
.sec3 .sec3img{
    z-index: -1;
    position: absolute;
    height: 110%;
    margin-top: -220px;
    margin-right: 120px;
    right: 0;
}
.sec3 h1{
    font-size: 3.2em;
    margin-top: 80px; 
}
.sec3 h2{
    font-size: 1.4em;
    margin-top: 40px; 
    margin-bottom: 20px;
}
.sec3 ul{
    font-size: 1.3em;
    line-height: 1.8em;
    margin-left: 20px;
}
.sec3 .gap{
    height: 40px;
}
.sec3 a{
    border: none;
    font-weight: bold;
    padding: 15px 30px;
    background-color: var(--secondary-color);
    font-size: 16px;
    color: var(--primary-color);
}
.sec3 a:hover{
    background-color: var(--primary-color);
    color: white;
}
.sec5{
    margin-top: 50px;
    padding: 20px 100px 50px 100px;
    background-color: white;
}
.sec5 h2{
    font-size: 1.4em;
    margin-top: 100px;
    margin-bottom: 20px;
}
.sec5 .sec5p{
    display: inline-block;
    vertical-align: top;
    margin: 30px 20px;
    width: calc(33% - 40px);
}
.sec5 .sec5p img{
    height: 30px;
    max-width: 30px;
    margin-right: 10px;
}
.sec5 .sec5p img, .sec5 .sec5p h3{
    display: inline-block;
}
.sec5 .sec5p h3{
    margin: 0;
    vertical-align: top;
    font-size: 1.5em;
    margin-top: 3px;
}
.sec5 .sec5p hr{
    height: 2px;
    border: none;
    background-color: black;
    margin: 10px 0;
}
.sec5 .sec5p div a{
    display: block;
    color: var(--tertiary-color);
    font-size: 1.1em;
    margin: 20px;
}
.sec5 .sec5p div a:hover{
    text-decoration: underline;
}