:root {
    --main-bg-color: #f3f3f4;
    --primary-color: #00234b;
    --primary-dark-color: #000024;
    --secondary-color: #fff04b;
    --tertiary-color: #28d7fa;
    --quaternary-color: #ff6473;
    --main-padding: 100px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--main-bg-color);
    color: var(--primary-color);
    font-family: Arial, sans-serif;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}
header{
    padding: 50px 100px;
    height: 60px;
}
.logo{
    float: left;
}
.logo img{
    height: 70px;
    width: 70px;
    background-color: var(--secondary-color);
    border-radius: 40% 50% 30% 80%;
    margin-right: 10px;
}
.logo img, .logo h1{
    display: inline;
}
.logo h1{
    vertical-align: top;
    font-size: 2.6em;
    font-weight: bold;
}
img.headerbg{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}
nav{
    float: right;
}
nav ul li{
    display: inline;
    margin: 10px 10px;
}
nav ul .fa{
    font-size: 12px;
}

.sec1{
    padding: 120px 100px 40px 100px;
}
.sec1 h2{
    font-size: 2.8em;
    margin-bottom: 50px;
}
.sec1 form{
    height: 90px;
}
.sec1 form input{
    background-color: white;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 50px;
    padding-right: 10px;
    width: 33%;
    height: 52px;
    font-size: 16px;
}

.sec1 form input[type="date"]{
    width: calc(33% - 61px);
}
/* .sec1 form select{
    background-color: white;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 50px;
    padding-right: 10px;
    width: calc(30% + 19px);
    height: 26px;
    font-size: 16px;
    height: 52px;
} */
.sec1 form .fa{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 20px;
    position: absolute;
}
.sec1 form button{
    background-color: var(--secondary-color);
    border: none;
    width: 60px;
    vertical-align: bottom;
    padding: 12px;
}
.sec1 form button:hover{
    background-color: var(--primary-color);
    color: white;
}
.sec1 form button .fa{
    margin-left: 0;
    margin-top: 0;
    font-size: 28px;
    position: unset;
}

.sec1 .specialties-head p{
    font-weight: bold;
    margin: 40px 0 30px 0;
    font-size: 1.1em;
}

.sec1 .specialties{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.sec1 .specialties .specialti{
    text-align: center;
}
.sec1 .specialties .specialti img{
    border-radius: 50%;
    margin-top: 20px;
    transition: 0.5s;
}
.sec1 .specialties .specialti img:hover{
    transform: scale(1.1);
}
.sec1 .specialties .specialti p{
    margin-top: 20px;
}
.sec2{
    margin-top: 50px;
    background-color: var(--tertiary-color);
    padding: 20px 100px;
    height: 700px;
}
.sec2 img.app{
    float: left;
    height: 95%;
    margin-top: 53.5px;
    margin-left: 20px;
    margin-right: 200px;
}
.sec2-right{
    float: left;
}
.sec2 h1{
    font-size: 3.2em;
    margin-top: 120px;
    margin-bottom: 50px; 
}
.sec2 ul{
    margin-left: 20px;
    font-size: 1.2em;
    line-height: 1.8em;
    margin-bottom: 30px;
}
.sec2 input{
    margin-top: 10px;
    background-color: white;
    border: none;
    padding: 15px;
    width: 270px;
    font-size: 16px;
}
.sec2 button{
    border: none;
    font-weight: bold;
    padding: 15px;
    background-color: var(--secondary-color);
    font-size: 16px;
}
.sec2 button:hover{
    background-color: var(--primary-color);
    color: white;
}
.sec2 img.downa{
    vertical-align: top;
    margin-top: 39px;
    width: 150px;
}
.sec2 img.downb{
    margin-top: 8px;
    width: 120px;
}
.sec3{
    margin-top: 50px;
    padding: 20px 100px;
    height: 600px;
}
.sec3 .sec3img{
    z-index: -1;
    position: absolute;
    height: 110%;
    margin-top: -220px;
    margin-right: 120px;
    right: 0;
}
.sec3 h1{
    font-size: 3.2em;
    margin-top: 80px; 
}
.sec3 h2{
    font-size: 1.4em;
    margin-top: 40px; 
    margin-bottom: 20px;
}
.sec3 ul{
    font-size: 1.3em;
    line-height: 1.8em;
    margin-left: 20px;
    margin-bottom: 20px;
}
.sec3 button{
    border: none;
    font-weight: bold;
    padding: 15px;
    background-color: var(--secondary-color);
    font-size: 16px;
}
.sec3 button:hover{
    background-color: var(--primary-color);
    color: white;
}

.sec5{
    margin-top: 50px;
    padding: 20px 100px 50px 100px;
    background-color: white;
}
.sec5 h2{
    font-size: 1.4em;
    margin-top: 100px;
    margin-bottom: 20px;
}
.sec5 .sec5p{
    display: inline-block;
    vertical-align: top;
    margin: 30px 20px;
    width: calc(33% - 40px);
}
.sec5 .sec5p img{
    height: 30px;
    max-width: 30px;
    margin-right: 10px;
}
.sec5 .sec5p img, .sec5 .sec5p h3{
    display: inline-block;
}
.sec5 .sec5p h3{
    margin: 0;
    vertical-align: top;
    font-size: 1.5em;
    margin-top: 3px;
}
.sec5 .sec5p hr{
    height: 2px;
    border: none;
    background-color: black;
    margin: 10px 0;
}
.sec5 .sec5p div a{
    display: block;
    color: var(--tertiary-color);
    font-size: 1.1em;
    margin: 20px;
    text-decoration: none;
}
.sec5 .sec5p div a:hover{
    text-decoration: underline;
}

footer{
    background-color: var(--primary-color);
    padding: 20px 50px 0 50px;
}
footer .foop{
    display: inline-block;
    width: calc(20% - 5px);
    vertical-align: top;
}
footer h4{
    color: var(--secondary-color);
    font-size: 1.1em;
    margin-top: 30px;
}

footer a{
    display: block;
    color: white;
    font-size: .9em;
    line-height: 2em;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
footer img.a{
    width: 200px;
    display: block;
    margin-top: 20px;
}

footer img.b{
    margin-left: 12.5px;
    margin-top: -50px;
    width: 175px;
    display: block;
}
footer .footer-bottom{
    background-color: var(--primary-dark-color);
    height: 60px;
    width: calc(100% + 100px);
    margin-left: -50px;
    padding: 0 50px;
}
footer .credit{
    float: left;
    margin-top: 15px;
}
footer .credit p, footer .credit a{
    display: inline-block;
}
footer .credit p{
    color: white;
    font-weight: bold;
    margin-right: 20px;
}
footer .credit a{
    margin: 0 10px;
}
footer .icon{
    float: right;
    margin-top: 17px;
    color: white;
}
footer .icon .fa{
    margin: 5px;
}
.login{
    display: none;
    text-align: center;
    position: fixed;
    z-index: 2;
    background-color: white;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
    padding: 50px 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.login input{
    display: block;
    width: 250px;
    padding: 10px;
    margin: 10px;
}
.login button{
    display: block;
    width: 275px;
    padding: 10px;
    margin: 10px;
}
.login hr{
    margin: 30px 0;
}
.login .fa{
    position: absolute;
    left: calc(50% + 210px);
    top: calc(50% - 170px);
    font-size: 24px;
    transform: translate(-50%,-50%); 
}
.signup{
    display: none;
    text-align: center;
    position: fixed;
    z-index: 2;
    background-color: white;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
    padding: 50px 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.signup input{
    display: block;
    width: 250px;
    padding: 10px;
    margin: 10px;
}
.signup form p{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0;
}
.signup input[type="radio"]{
    display: inline;
}
.signup button{
    display: block;
    width: 275px;
    padding: 10px;
    margin: 10px;
}
.signup hr{
    margin: 30px 0;
}
.signup .fa{
    position: absolute;
    left: calc(50% + 210px);
    top: calc(50% - 270px);
    font-size: 24px;
    transform: translate(-50%,-50%); 
}

header.searchp{
    background-color: var(--secondary-color);
    padding: 25px 100px;
    height: 185px;
}

header.searchp nav{
    margin-top: 10px;
}

header.searchp form{
    height: 90px;
    display: block;
    margin-top: 80px;
}
header.searchp form input{
    background-color: white;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 50px;
    padding-right: 10px;
    width: 33%;
    height: 52px;
    font-size: 16px;
}

header.searchp form input[type="date"]{
    width: calc(33% - 61px);
}

/* header.searchp form select{
    background-color: white;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 50px;
    padding-right: 10px;
    width: calc(30% + 19px);
    height: 26px;
    font-size: 16px;
    height: 52px;
} */
header.searchp form .fa{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 20px;
    position: absolute;
}
header.searchp form button{
    background-color: var(--primary-color);
    border: none;
    width: 60px;
    vertical-align: bottom;
    padding: 12px;
    color: white;
}
header.searchp form button:hover{
    background-color: var(--tertiary-color);
}
header.searchp form button .fa{
    margin-left: 0;
    margin-top: 0;
    font-size: 28px;
    position: unset;
}
.filters{
    padding: 20px 100px;
}
.filters p.dnum{
    float: left;
}
.filters p.sortf{
    float: right;
}
.filters hr{
    margin-top: 35px;
}
.filters .filter{
    display: none;
}

.results{
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 70px;
    column-gap: 20px;
}
.results .result{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 10px;
    vertical-align: top;
    box-shadow: 2px 2px 10px lightgrey;
}
.results .result img{
    position: relative;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-left: 50%;
    transform: translate(-50%, -70px);
    border: 5px solid var(--primary-color);
    margin-bottom: -70px;
}
.results .result h2{
    font-size: 1.3em;
    color: black;
    margin: 20px 0 5px 0;
}

.results .result p.dspecial{
    font-weight: lighter;
    font-size: .9em;
    margin-bottom: 30px;
}
.results .result p.hosname{
    font-weight: bold;
    font-size: 1.1em;
}
.results .result p.hadd{
    color: grey;
    font-size: .9em;
    margin-top: 5px;
    margin-bottom: 30px;
}
.results .result p.atime{
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    width: calc(100% - 20px);
    text-align: center;
    font-size: 1.1em;
}
.results .result hr{
    margin: 20px 0 10px 0;
    border: none;
    height: 1px;
    background-color: black;
}
.results .result p.rating{
    float: left;
    color: var(--quaternary-color);
    margin-top: 9px;
}
.results .result p.rating span{
    color: black;
    margin-left: 7px;
}
.results .result p.price{
    float: right;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.resultnav{
    text-align: center;
    height: 60px;
}
.resultnav span{
    padding: 10px 15px;
    background-color: lightgrey;
}
.resultnav span.active{
    background-color: var(--secondary-color);
}
.resultnav span:hover{
    background-color: var(--primary-color);
    color: white;
}
header.hospip{
    background-color: var(--secondary-color);
    padding: 25px 100px;
    height: 90px;
}
header.hospip nav{
    margin-top: 10px;
}
.drmain{
    padding: 25px 25px 25px 100px;
    height: 400px;
    width: 65%;
    background-color: white;
}
.drmain img.hpicimg{
    z-index: -1;
    height: 260px;
    width: 100%;
    border-bottom: .5px solid lightgrey;
}
.drmain img.hlogoimg{
    position: relative;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transform: translate(40px, -60px);
    border: 5px solid var(--primary-color);
}
.drmain h2{
    font-size: 1.7em;
    margin-bottom: 0;
    position: relative;
    transform: translate(215px, -150px);
}

.drmain span.dspecial{
    font-size: .8em;
    font-weight: normal;
}
.drmain p.hname{
    font-size: 1.1em;
    position: relative;
    transform: translate(215px, -135px);
}
.drmain p.hadd{
    color: grey;
    font-size: .9em;
    position: relative;
    transform: translate(215px, -130px);
}
.ratingp{
    margin-left: 100px;
    padding: 30px 100px 30px 0;
    width: calc(65% - 100px);
}
.ratingp .rate, .ratingp .price{
    display: inline-block;
    height: 160px;
    vertical-align: top;
}   
.ratingp p.p1{
    color: grey;
    margin-bottom: 20px;
}
.ratingp p.p2{
    color: black;
    font-size: 4.4em;
}
.ratingp p.p3 .fa{
    font-size: 1.2em;
    color: var(--quaternary-color);
}
.ratingp p.p4{
    margin-top: 10px;
}
.ratingp p.p5{
    font-size: 2.5em;
    color: black;
    margin: 0;
}
.ratingp .rate{
    border-right: 5px solid var(--primary-color);
    padding: 0 60px;
}
.ratingp .price{
    margin: 0 60px;
}
.drabout{
    padding: 25px 25px 25px 100px;
    width: 65%;
    background-color: white;
}
.drabout h3{
    font-size: 1.2em;
    margin-top: 40px;
    margin-bottom: 10px;
}
.drabout p.draboutd{
    line-height: 2em;
}
.drabout iframe{
    float: left;
    margin-right: 20px;
}
.drabout p.draboutdl{
    font-weight: bold;
}
.drabout p.draboutdl.l{
    margin-bottom: 170px;
}
.drabout p.rating .fa{
    color: var(--quaternary-color);
    font-size: 1.4em;
    margin: 2px;
}
.drabout p.rating span{
    font-size: 1.2em;
    margin-left: 20px;
}
.bookapp{
    position: sticky;
    top: 0;
    float: right;
    right: 0;
    width: 35%;
    margin-bottom: 430px;
    height: 100vh;
    overflow-y: auto;
}
.bookapp h2{
    background-color: var(--primary-color);
    padding: 20px;
    margin-top: 0;
    color: white;
}
.bookapp form{  
    margin: 20px;
}
.bookapp form p{
    font-size: 1em;
    color: black;
    margin-top: 30px;
    margin-bottom: 10px;
}
.bookapp form input{
    padding: 15px 20px;
    border: none;
    width: 100%;
}
/* .bookapp form select{
    border: none;
    padding: 10px 15px;
    width: 100%;
} */
.bookapp form input[type="radio"]{
    width: auto;
    margin: 15px 10px;
}
.bookapp form span{
    margin-right: 30%;
    font-size: 1em;
    color: black;
}
.bookapp form div{
    padding: 2px 15px;
    background-color: white;
    width: 100%;
}
.bookapp form div.booktime{
    display: inline-block;
    width: calc(50% - 3px);
    vertical-align: top;
    padding: 5px;
}
.bookapp form button{
    font-size: 1.2em;
    margin: 30px 0 0 0;
    background-color: var(--secondary-color);
    padding: 15px;
    border: none;
    width: 100%;
}
.bookapp form button:hover{
    background-color: var(--primary-color);
    color: white;
}